<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Самый лучший диплом</title>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="Naiming">Servec desk</div>
            <div class="menu">
                <div class="button_menu"><a href="/users/zaiv_zaiv">Заявки</a></div>
                <div class="button_menu"><a href="/users/sklad">Склад</a></div>
                <div class="button_menu"> <a href="/users/analitic">Аналитика</a></div>
                <div class="button_menu"><a href="/users/sotryd">Сотрудники</a></div>
                <div class="button_menu">Личный кабинет</div>
            </div>
        </div>

        <div class="main">
        <div class="header">
          <h1>Склад</h1>
            <div class="right_header">
                <div class="date" id=date></div>
                <script>
                    var d = new Date();
                    data =("0" + d.getDate()).slice(-2) +"."+ ("0" + (Number(d.getMonth())+1)).slice(-2) + "." + d.getFullYear();
                    document.getElementById("date").textContent = data;
                </script>
            <div class="name_photo">
                <div class="name"> <%= user %> </div>
                <div class="photo"><img src="/ava.png"/></div>
            </div>
        </div>
        </div>

        <div class="search">
			<input type='text' id="elastic" placeholder='Поиск...'/>
		</div>

        <table class="table">
            <thead>
              <tr>
                <th>№</th>
                <th>Оборудование</th>
                <th>Инвентарный номер</th>
                <th>Количество</th>

               </tr>
            </thead>
            <tbody>
                <% data.forEach(function(user) { %>
                <tr class="elastic">
                  <td><%= user.id_sklad %></td>
                  <td><%= user.name %></td>
                  <td><%= user.invert_number %></td>
                  <td><%= user.kol_vo %></td>
                </tr>
                <% }) %>
              </tbody>
          </table>

          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script>
            $(document).ready(function() {
                $('#elastic').on('keyup', function() {
                    var value = $(this).val().toLowerCase();
                    $('.table .elastic').filter(function() {
                        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                    });
                });
            });
        </script>
        

   </div>
    </div>
</body>
</html>