<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Самый лучший диплом</title>
</head>

<body>
    <div class="container">
        <div class="sidebar">
            <div class="Naiming">Servec desk</div>
            <div class="menu">
                <div class="button_menu"><a href="/users/zaiv_zaiv">Заявки</a></div>
                <div class="button_menu"><a href="/users/sklad">Склад</a></div>
                <div class="button_menu"> <a href="/users/analitic">Аналитика</a></div>
                <div class="button_menu"><a href="/users/sotryd">Сотрудники</a></div>
                <div class="button_menu">Личный кабинет</div>
            </div>
        </div>

        <div class="main">
        <div class="header">
            <button onclick="window.location.href='new_zaiv';">+ Новая заявка</button>
            <div class="right_header">
                <div class="date" id=date></div>
                <script>
                    var d = new Date();
                    data =("0" + d.getDate()).slice(-2) +"."+ ("0" + (Number(d.getMonth())+1)).slice(-2) + "." + d.getFullYear();
                    document.getElementById("date").textContent = data;
                </script>
            <div class="name_photo">
                <div class="name"> <%= user %> </div>
                <div class="photo"><img src="/ava.png"/> </div>
            </div>
        </div>
        </div>
        <div class="search" style="margin-top: 50px">
			<input type='text' id="elastic" placeholder='Поиск...'/>
		</div>
        <table class="table">
            <thead>
              <tr>
                <th>№ заявки</th>
                <th>Оборудование</th>
                <th>Заявитель</th>
                <th>Исполнитель</th>
                <th>Дата создания</th>
                <th>Дата завершения</th>
                <th>Статус</th>
              </tr>
            </thead>
            <tbody>
                <% data.forEach(function(user) { %>
                <tr data-id="<%= user.id_zaivka %>" onclick="redirectToDetailsPage(this)" class="actiontr" >
                  <td><%= user.id_zaivka %></td>
                  <td><%= user.invert_number %></td>
                  <td><%= user.firstname_zaivitel %></td>
                  <td><%= user.firstname_ispolnitel %></td>
                  <td><%= user.date_start %></td>
                  <td><%= user.date_finish %></td>
                  <td><%= user.name_status %></td>
                </tr>
                <% }) %>
              </tbody>
          </table>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function() {
          $('#elastic').on('keyup', function() {
              var value = $(this).val().toLowerCase();
              $('.table .actiontr').filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
              });
          });
      });
  </script>

    <script>
        function redirectToDetailsPage(element) {
           // var id = element.getAttribute('data-id');

            document.querySelectorAll('.table tbody tr').forEach(row => {
  row.addEventListener('click', function() {
    const id = this.querySelector('td:first-child').textContent;
    window.location.href = `/users/zaivka-page/${id}`;
  });
});
            //window.location.href = '/users/zaivka-page?id=' + id;
        }
    </script>
        
    </div>
</body>

</html>